# Определение стоимости автомобилей

Для сервиса по продаже автомобилей необходимо построить модель, определяющую стоимость авто.

В нашем распоряжении исторические данные: технические характеристики, комплектации и цены автомобилей.

Заказчику важны:

- качество предсказания;
- скорость предсказания;
- время обучения.
<br>
<br>

**Описание данных**<br>
Признаки
- DateCrawled — дата скачивания анкеты из базы
- VehicleType — тип автомобильного кузова
- RegistrationYear — год регистрации автомобиля
- Gearbox — тип коробки передач
- Power — мощность (л. с.)
- Model — модель автомобиля
- Kilometer — пробег (км)
- RegistrationMonth — месяц регистрации автомобиля
- FuelType — тип топлива
- Brand — марка автомобиля
- NotRepaired — была машина в ремонте или нет
- DateCreated — дата создания анкеты
- NumberOfPictures — количество фотографий автомобиля
- PostalCode — почтовый индекс владельца анкеты (пользователя)
- LastSeen — дата последней активности пользователя

Целевой признак
- Price — цена (евро)

## Подготовка данных

Загрузим библиотеки и откроем файл с данными

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OrdinalEncoder, StandardScaler
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, make_scorer
from lightgbm import LGBMRegressor


data = pd.read_csv('/datasets/autos.csv')
display(data.head(10))
display(data.describe())
display(data.info())
data.corr()

,DateCrawled,Price,VehicleType,RegistrationYear,Gearbox,Power,Model,Kilometer,RegistrationMonth,FuelType,Brand,NotRepaired,DateCreated,NumberOfPictures,PostalCode,LastSeen
0,2016-03-24 11:52:17,480,NaN,1993,manual,0,golf,150000,0,petrol,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,18300,coupe,2011,manual,190,NaN,125000,5,gasoline,audi,yes,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,9800,suv,2004,auto,163,grand,125000,8,gasoline,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,1500,small,2001,manual,75,golf,150000,6,petrol,volkswagen,no,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,3600,small,2008,manual,69,fabia,90000,7,gasoline,skoda,no,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21
5,2016-04-04 17:36:23,650,sedan,1995,manual,102,3er,150000,10,petrol,bmw,yes,2016-04-04 00:00:00,0,33775,2016-04-06 19:17:07
6,2016-04-01 20:48:51,2200,convertible,2004,manual,109,2_reihe,150000,8,petrol,peugeot,no,2016-04-01 00:00:00,0,67112,2016-04-05 18:18:39
7,2016-03-21 18:54:38,0,sedan,1980,manual,50,other,40000,7,petrol,volkswagen,no,2016-03-21 00:00:00,0,19348,2016-03-25 16:47:58
8,2016-04-04 23:42:13,14500,bus,2014,manual,125,c_max,30000,8,petrol,ford,NaN,2016-04-04 00:00:00,0,94505,2016-04-04 23:42:13
9,2016-03-17 10:53:50,999,small,1998,manual,101,golf,150000,0,NaN,volkswagen,NaN,2016-03-17 00:00:00,0,27472,2016-03-31 17:17:06

,Price,RegistrationYear,Power,Kilometer,RegistrationMonth,NumberOfPictures,PostalCode
count,354369.000000,354369.000000,354369.000000,354369.000000,354369.000000,354369.0,354369.000000
mean,4416.656776,2004.234448,110.094337,128211.172535,5.714645,0.0,50508.689087
std,4514.158514,90.227958,189.850405,37905.341530,3.726421,0.0,25783.096248
min,0.000000,1000.000000,0.000000,5000.000000,0.000000,0.0,1067.000000
25%,1050.000000,1999.000000,69.000000,125000.000000,3.000000,0.0,30165.000000
50%,2700.000000,2003.000000,105.000000,150000.000000,6.000000,0.0,49413.000000
75%,6400.000000,2008.000000,143.000000,150000.000000,9.000000,0.0,71083.000000
max,20000.000000,9999.000000,20000.000000,150000.000000,12.000000,0.0,99998.000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 354369 entries, 0 to 354368
Data columns (total 16 columns):
DateCrawled          354369 non-null object
Price                354369 non-null int64
VehicleType          316879 non-null object
RegistrationYear     354369 non-null int64
Gearbox              334536 non-null object
Power                354369 non-null int64
Model                334664 non-null object
Kilometer            354369 non-null int64
RegistrationMonth    354369 non-null int64
FuelType             321474 non-null object
Brand                354369 non-null object
NotRepaired          283215 non-null object
DateCreated          354369 non-null object
NumberOfPictures     354369 non-null int64
PostalCode           354369 non-null int64
LastSeen             354369 non-null object
dtypes: int64(7), object(9)
memory usage: 43.3+ MB

None

,Price,RegistrationYear,Power,Kilometer,RegistrationMonth,NumberOfPictures,PostalCode
Price,1.000000,0.026916,0.158872,-0.333199,0.110581,NaN,0.076055
RegistrationYear,0.026916,1.000000,-0.000828,-0.053447,-0.011619,NaN,-0.003459
Power,0.158872,-0.000828,1.000000,0.024002,0.043380,NaN,0.021665
Kilometer,-0.333199,-0.053447,0.024002,1.000000,0.009571,NaN,-0.007698
RegistrationMonth,0.110581,-0.011619,0.043380,0.009571,1.000000,NaN,0.013995
NumberOfPictures,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PostalCode,0.076055,-0.003459,0.021665,-0.007698,0.013995,NaN,1.000000

Наблюдаем множественные пропуски в некоторых столбцах, а также отсутствие корреляционных признаков.

Проверим данные на наличие дубликатов.

In [2]:
data.duplicated().sum()

4

Удалим их.

In [3]:
data = data.drop_duplicates()

Теперь посмотрим на количество пропусков

In [4]:
print(data.isna().sum())

DateCrawled              0
Price                    0
VehicleType          37490
RegistrationYear         0
Gearbox              19833
Power                    0
Model                19705
Kilometer                0
RegistrationMonth        0
FuelType             32895
Brand                    0
NotRepaired          71154
DateCreated              0
NumberOfPictures         0
PostalCode               0
LastSeen                 0
dtype: int64

Для поиска ошибок посмотрим на уникальные значения в каждом столбце

In [5]:
for i in data.columns:
    print(i)
    print(data[i].value_counts())
    print(data[i].unique())
    print()

DateCrawled
2016-03-24 14:49:47    7
2016-03-19 21:49:56    6
2016-03-26 22:57:31    6
2016-03-05 14:25:23    5
2016-03-05 14:44:30    5
                      ..
2016-03-13 00:57:18    1
2016-03-22 17:52:11    1
2016-03-25 14:53:40    1
2016-04-02 16:57:00    1
2016-04-03 22:47:46    1
Name: DateCrawled, Length: 271174, dtype: int64
['2016-03-24 11:52:17' '2016-03-24 10:58:45' '2016-03-14 12:52:21' ...
 '2016-03-21 09:50:58' '2016-03-14 17:48:27' '2016-03-19 18:57:12']

Price
0        10772
500       5670
1500      5394
1000      4648
1200      4594
         ...
13440        1
1414         1
8069         1
10370        1
384          1
Name: Price, Length: 3731, dtype: int64
[  480 18300  9800 ... 12395 18429 10985]

VehicleType
sedan          91457
small          79830
wagon          65165
bus            28775
convertible    20203
coupe          16161
suv            11996
other           3288
Name: VehicleType, dtype: int64
[nan 'coupe' 'suv' 'small' 'sedan' 'convertible' 'bus' 'wagon' 'other']

RegistrationYear
2000    24490
1999    22727
2005    22109
2001    20123
2006    19900
        ...
3200        1
1920        1
1919        1
1915        1
8455        1
Name: RegistrationYear, Length: 151, dtype: int64
[1993 2011 2004 2001 2008 1995 1980 2014 1998 2005 1910 2016 2007 2009
 2002 2018 1997 1990 2017 1981 2003 1994 1991 1984 2006 1999 2012 2010
 2000 1992 2013 1996 1985 1989 2015 1982 1976 1983 1973 1111 1969 1971
 1987 1986 1988 1970 1965 1945 1925 1974 1979 1955 1978 1972 1968 1977
 1961 1960 1966 1975 1963 1964 5000 1954 1958 1967 1959 9999 1956 3200
 1000 1941 8888 1500 2200 4100 1962 1929 1957 1940 3000 2066 1949 2019
 1937 1951 1800 1953 1234 8000 5300 9000 2900 6000 5900 5911 1933 1400
 1950 4000 1948 1952 1200 8500 1932 1255 3700 3800 4800 1942 7000 1935
 1936 6500 1923 2290 2500 1930 1001 9450 1944 1943 1934 1938 1688 2800
 1253 1928 1919 5555 5600 1600 2222 1039 9996 1300 8455 1931 1915 4500
 1920 1602 7800 9229 1947 1927 7100 8200 1946 7500 3500]

Gearbox
manual    268249
auto       66283
Name: Gearbox, dtype: int64
['manual' 'auto' nan]

Power
0        40225
75       24023
60       15897
150      14590
101      13298
         ...
16311        1
1360         1
1968         1
6226         1
6006         1
Name: Power, Length: 712, dtype: int64
[    0   190   163    75    69   102   109    50   125   101   105   140
   115   131    60   136   160   231    90   118   193    99   113   218
   122   129    70   306    95    61   177    80   170    55   143    64
   286   232   150   156    82   155    54   185    87   180    86    84
   224   235   200   178   265    77   110   144   120   116   184   126
   204    88   194   305   197   179   250    45   313    41   165    98
   130   114   211    56   201   213    58   107    83   174   100   220
    85    73   192    68    66   299    74    52   147    65   310    71
    97   239   203     5   300   103   258   320    63    81   148    44
   145   230   280   260   104   188   333   186   117   141    59   132
   234   158    39    92    51   135    53   209    43   146    67   106
   166   276   344    72   249   237   245   111   326   279    23   138
   175    96   226    26    37   301   334   128   133   124    33   219
   241   167    94   182   196   238  1398   228   112    48   272   139
  1799    40   240    79   256   360   243   375   252   396   340   108
   121   345   187   289   222   198   284   450   233   387   152   347
   172    57   137   212   476   314    30     7    47   173   290   207
   205   171   750    78    91    89   349   325    76   151   350   953
    93   142   500   343   199   119   164    16   264   367   208   210
    46   435  1001   225   127   176   161   603   307   354    35   206
   771   355   273   223   255   123   154   149  7515  1400   268   620
   169   400   275    34     2   242  1779   285   162   328  1753   329
   134   420   247   168 10317   215    18   330   283    62    10   214
   183   254    15   321   322   315   952   600   181   426   599   379
   999    22   157    42   195   553     4   309   507   381   271   440
   189   401  1111  2729    21   236  1240  1704   521     1  1900   270
    24   159   292   808   515  1200   303    29    38  1993    14   216
   610   504    49   267   331   363   261   385  1011   253   696 10520
   376   227   311    27   217    20  1999    11  1056    25   394    12
   298   296  1659   294   551  6920   246    17  1800  1625   368   390
   221  1367   259   606   327  2017  1597   266   374   392     9   405
    13   262   601   430   295     8   411   900   541  7512   382 10218
  7544  1102   287    19   751   297  1090   457   282   602   388     6
  1000  5411   335  1360   202  3750   805  1062  1024 11530   364  1796
  5000   269   460  1002   288  1780 12012 17932   316  2005  1399   191
   278  1300   380   257   449  1256   153  1653   520   560   281 12510
     3  1500   386    32  1202  2016  1436  1405   671   274  1288  1055
 10912 15016  6226  1115   277  1105   341  1223  2340  8404  1968   338
   445  1920   370   517  4400 10710 10522  9010   431  1164 11509   371
  1501   428 11635    36   304   348  1703  1910  1995   579 10000   580
   408    31  1005   358  1403   489  5575 19211   585   960   365   353
   490   352  1801   346   550  3199   800  7508  1312   357  1937   950
  4700  1600  3454 19208   251   850   337   700  8011  2331  2789   487
   519  2461  6006  3500  5815  6018  1781  1503   612  1596   229  1506
  5809 15020  5867  2172  1598 17410  1363   584  1054   851  1339   318
   510   525  1700    28  1151   685  6011   317   703  1771 15001   514
   362   332   324  6045   530   425   308  6010   475   903   640  2000
   248   651  2799 17011   505  1103  1521   351 16051   398  9000  1998
 10311   409  1230 17019 12684  8259  1895   901  1317   871   909  2201
  1595   776 17700 11011  1199   459  1162  1120 15033  1896   339   361
   574  6512   454   650 13616   604   607 16312  1082   336 20000   416
   678  6012  1401  1021  1870 13636  1250  9710   323  1158  2009   902
  6062  1275   572   244   399  1016   743  1221  2402 16011  1362   544
   645   907   702 12512  1986  1003  1432  9013  9011   442  1017  1394
 15017 10910  1992   540  2018 11025  1433  1701  2792  1502  1239  1390
 14009  1160  1351 11111  1783  9007   923  1149   754  1988   402  2004
  5420  1793  1324   356  7511  1299   293 19312  1079  1689   998  1100
  9012  1933   508 16311   682  1252  1922  7529   732  2389  2200  1707
  1416  8500  1012   485  3000 10110   421  4507  1631  7518   377  1004
  2007  2598  1548  1241]

Model
golf                  29232
other                 24420
3er                   19761
polo                  13066
corsa                 12570
                      ...
i3                        8
serie_3                   4
rangerover                4
range_rover_evoque        2
serie_1                   2
Name: Model, Length: 250, dtype: int64
['golf' nan 'grand' 'fabia' '3er' '2_reihe' 'other' 'c_max' '3_reihe'
 'passat' 'navara' 'ka' 'polo' 'twingo' 'a_klasse' 'scirocco' '5er'
 'meriva' 'arosa' 'c4' 'civic' 'transporter' 'punto' 'e_klasse' 'clio'
 'kadett' 'kangoo' 'corsa' 'one' 'fortwo' '1er' 'b_klasse' 'signum'
 'astra' 'a8' 'jetta' 'fiesta' 'c_klasse' 'micra' 'vito' 'sprinter' '156'
 'escort' 'forester' 'xc_reihe' 'scenic' 'a4' 'a1' 'insignia' 'combo'
 'focus' 'tt' 'a6' 'jazz' 'omega' 'slk' '7er' '80' '147' '100' 'z_reihe'
 'sportage' 'sorento' 'v40' 'ibiza' 'mustang' 'eos' 'touran' 'getz' 'a3'
 'almera' 'megane' 'lupo' 'r19' 'zafira' 'caddy' 'mondeo' 'cordoba' 'colt'
 'impreza' 'vectra' 'berlingo' 'tiguan' 'i_reihe' 'espace' 'sharan'
 '6_reihe' 'panda' 'up' 'seicento' 'ceed' '5_reihe' 'yeti' 'octavia' 'mii'
 'rx_reihe' '6er' 'modus' 'fox' 'matiz' 'beetle' 'c1' 'rio' 'touareg'
 'logan' 'spider' 'cuore' 's_max' 'a2' 'galaxy' 'c3' 'viano' 's_klasse'
 '1_reihe' 'avensis' 'roomster' 'sl' 'kaefer' 'santa' 'cooper' 'leon'
 '4_reihe' 'a5' '500' 'laguna' 'ptcruiser' 'clk' 'primera' 'x_reihe'
 'exeo' '159' 'transit' 'juke' 'qashqai' 'carisma' 'accord' 'corolla'
 'lanos' 'phaeton' 'verso' 'swift' 'rav' 'picanto' 'boxster' 'kalos'
 'superb' 'stilo' 'alhambra' 'mx_reihe' 'roadster' 'ypsilon' 'cayenne'
 'galant' 'justy' '90' 'sirion' 'crossfire' 'agila' 'duster' 'cr_reihe'
 'v50' 'c_reihe' 'v_klasse' 'm_klasse' 'yaris' 'c5' 'aygo' 'cc' 'carnival'
 'fusion' '911' 'bora' 'forfour' 'm_reihe' 'cl' 'tigra' '300c' 'spark'
 'v70' 'kuga' 'x_type' 'ducato' 's_type' 'x_trail' 'toledo' 'altea'
 'voyager' 'calibra' 'bravo' 'antara' 'tucson' 'citigo' 'jimny' 'wrangler'
 'lybra' 'q7' 'lancer' 'captiva' 'c2' 'discovery' 'freelander' 'sandero'
 'note' '900' 'cherokee' 'clubman' 'samara' 'defender' '601' 'cx_reihe'
 'legacy' 'pajero' 'auris' 'niva' 's60' 'nubira' 'vivaro' 'g_klasse'
 'lodgy' '850' 'range_rover' 'q3' 'serie_2' 'glk' 'charade' 'croma'
 'outlander' 'doblo' 'musa' 'move' '9000' 'v60' '145' 'aveo' '200' 'b_max'
 'range_rover_sport' 'terios' 'rangerover' 'q5' 'range_rover_evoque'
 'materia' 'delta' 'gl' 'kalina' 'amarok' 'elefantino' 'i3' 'kappa'
 'serie_3' 'serie_1']

Kilometer
150000    238207
125000     36453
100000     14882
90000      11567
80000      10047
70000       8593
60000       7444
5000        6397
50000       6232
40000       4911
30000       4436
20000       3974
10000       1222
Name: Kilometer, dtype: int64
[150000 125000  90000  40000  30000  70000   5000 100000  60000  20000
  80000  50000  10000]

RegistrationMonth
0     37352
3     34373
6     31507
4     29270
5     29153
7     27211
10    26099
12    24289
11    24186
9     23813
1     23218
8     22627
2     21267
Name: RegistrationMonth, dtype: int64
[ 0  5  8  6  7 10 12 11  2  3  1  4  9]

FuelType
petrol      216349
gasoline     98719
lpg           5310
cng            565
hybrid         233
other          204
electric        90
Name: FuelType, dtype: int64
['petrol' 'gasoline' nan 'lpg' 'other' 'hybrid' 'cng' 'electric']

Brand
volkswagen        77012
opel              39931
bmw               36914
mercedes_benz     32044
audi              29456
ford              25179
renault           17927
peugeot           10998
fiat               9643
seat               6907
mazda              5615
skoda              5500
smart              5246
citroen            5148
nissan             4941
toyota             4606
hyundai            3587
sonstige_autos     3374
volvo              3210
mini               3202
mitsubishi         3022
honda              2817
kia                2465
suzuki             2322
alfa_romeo         2314
chevrolet          1754
chrysler           1439
dacia               900
daihatsu            806
subaru              762
porsche             758
jeep                677
trabant             589
land_rover          545
daewoo              542
saab                526
jaguar              505
rover               486
lancia              471
lada                225
Name: Brand, dtype: int64
['volkswagen' 'audi' 'jeep' 'skoda' 'bmw' 'peugeot' 'ford' 'mazda'
 'nissan' 'renault' 'mercedes_benz' 'opel' 'seat' 'citroen' 'honda' 'fiat'
 'mini' 'smart' 'hyundai' 'sonstige_autos' 'alfa_romeo' 'subaru' 'volvo'
 'mitsubishi' 'kia' 'suzuki' 'lancia' 'toyota' 'chevrolet' 'dacia'
 'daihatsu' 'trabant' 'saab' 'chrysler' 'jaguar' 'daewoo' 'porsche'
 'rover' 'land_rover' 'lada']

NotRepaired
no     247158
yes     36053
Name: NotRepaired, dtype: int64
[nan 'yes' 'no']

DateCreated
2016-04-03 00:00:00    13718
2016-04-04 00:00:00    13317
2016-03-20 00:00:00    12918
2016-03-12 00:00:00    12840
2016-03-21 00:00:00    12691
                       ...
2015-03-20 00:00:00        1
2015-06-18 00:00:00        1
2016-01-15 00:00:00        1
2016-01-08 00:00:00        1
2015-11-08 00:00:00        1
Name: DateCreated, Length: 109, dtype: int64
['2016-03-24 00:00:00' '2016-03-14 00:00:00' '2016-03-17 00:00:00'
 '2016-03-31 00:00:00' '2016-04-04 00:00:00' '2016-04-01 00:00:00'
 '2016-03-21 00:00:00' '2016-03-26 00:00:00' '2016-04-07 00:00:00'
 '2016-03-15 00:00:00' '2016-03-11 00:00:00' '2016-03-20 00:00:00'
 '2016-03-23 00:00:00' '2016-03-27 00:00:00' '2016-03-12 00:00:00'
 '2016-03-13 00:00:00' '2016-03-18 00:00:00' '2016-03-10 00:00:00'
 '2016-03-07 00:00:00' '2016-03-09 00:00:00' '2016-03-08 00:00:00'
 '2016-04-03 00:00:00' '2016-03-29 00:00:00' '2016-03-25 00:00:00'
 '2016-03-28 00:00:00' '2016-03-30 00:00:00' '2016-03-22 00:00:00'
 '2016-02-09 00:00:00' '2016-03-05 00:00:00' '2016-04-02 00:00:00'
 '2016-03-16 00:00:00' '2016-03-19 00:00:00' '2016-04-05 00:00:00'
 '2016-03-06 00:00:00' '2016-02-12 00:00:00' '2016-03-03 00:00:00'
 '2016-03-01 00:00:00' '2016-03-04 00:00:00' '2016-04-06 00:00:00'
 '2016-02-15 00:00:00' '2016-02-24 00:00:00' '2016-02-27 00:00:00'
 '2015-03-20 00:00:00' '2016-02-28 00:00:00' '2016-02-17 00:00:00'
 '2016-01-27 00:00:00' '2016-02-20 00:00:00' '2016-02-29 00:00:00'
 '2016-02-10 00:00:00' '2016-02-23 00:00:00' '2016-02-21 00:00:00'
 '2015-11-02 00:00:00' '2016-02-19 00:00:00' '2016-02-26 00:00:00'
 '2016-02-11 00:00:00' '2016-01-10 00:00:00' '2016-02-06 00:00:00'
 '2016-02-18 00:00:00' '2016-01-29 00:00:00' '2016-03-02 00:00:00'
 '2015-12-06 00:00:00' '2016-01-24 00:00:00' '2016-01-30 00:00:00'
 '2016-02-02 00:00:00' '2016-02-16 00:00:00' '2016-02-13 00:00:00'
 '2016-02-05 00:00:00' '2016-02-22 00:00:00' '2015-11-17 00:00:00'
 '2014-03-10 00:00:00' '2016-02-07 00:00:00' '2016-01-23 00:00:00'
 '2016-02-25 00:00:00' '2016-02-14 00:00:00' '2016-01-02 00:00:00'
 '2015-09-04 00:00:00' '2015-11-12 00:00:00' '2015-12-27 00:00:00'
 '2015-11-24 00:00:00' '2016-01-20 00:00:00' '2016-02-03 00:00:00'
 '2015-12-05 00:00:00' '2015-08-07 00:00:00' '2016-01-28 00:00:00'
 '2016-01-31 00:00:00' '2016-02-08 00:00:00' '2016-01-07 00:00:00'
 '2016-01-22 00:00:00' '2016-01-18 00:00:00' '2016-01-08 00:00:00'
 '2015-11-23 00:00:00' '2016-01-13 00:00:00' '2016-01-17 00:00:00'
 '2016-01-15 00:00:00' '2015-11-08 00:00:00' '2016-01-26 00:00:00'
 '2016-02-04 00:00:00' '2016-01-25 00:00:00' '2016-01-16 00:00:00'
 '2015-08-10 00:00:00' '2016-01-03 00:00:00' '2016-01-19 00:00:00'
 '2015-12-30 00:00:00' '2016-02-01 00:00:00' '2015-12-17 00:00:00'
 '2015-11-10 00:00:00' '2016-01-06 00:00:00' '2015-09-09 00:00:00'
 '2015-06-18 00:00:00']

NumberOfPictures
0    354365
Name: NumberOfPictures, dtype: int64
[0]

PostalCode
10115    819
65428    613
66333    343
44145    317
32257    317
        ...
6725       1
6922       1
85071      1
97528      1
63931      1
Name: PostalCode, Length: 8143, dtype: int64
[70435 66954 90480 ... 38528 38325 31096]

LastSeen
2016-04-06 13:45:54    17
2016-04-06 04:15:59    16
2016-04-06 01:15:23    16
2016-04-06 08:46:30    16
2016-04-07 13:17:48    16
                       ..
2016-03-17 21:20:00     1
2016-04-02 20:17:26     1
2016-03-11 16:46:23     1
2016-03-31 08:45:32     1
2016-03-08 21:27:33     1
Name: LastSeen, Length: 179150, dtype: int64
['2016-04-07 03:16:57' '2016-04-07 01:46:50' '2016-04-05 12:47:46' ...
 '2016-03-19 20:44:43' '2016-03-29 10:17:23' '2016-03-21 10:42:49']

Что наблюдаем:
- В столбце "Price" есть нулевые значения - аномалия. Авто на продажу идет бесплатно? Возможно в следствии нежелания владельцев тратить средства на утилизацию машины. Пропускаем.
- 'VehicleType'. Более 37тыс. пропущенных значений. Заменим пропуски группой "unknown", т.к. нет возможности точно определить к какому типу кузова относится та или иная модель.
- Столбец с годом регистрации тоже отличился неправильными значениями. Можем видеть 3500 и даже 9229 года.. Несопоставимо с реальностью. Ограничим возможный разброс от 1900 года и по наше время (т.е. по 2021 год).
- "Gearbox". Около 5% пропущенных значений. Трудно предположить к чему отнести пропуск. Поступим также, как и с 'VehicleType'.
- Мощность. Нулевые и сверхбольшие значения. Нулевая мощность может объясняться машиной не на ходу, в то время, как сверхбольшие значения стоит удалить вовсе.
- Модель. Около 5% пропущенных значений. Заполним их по аналогии с "VehicleType" и "Gearbox".
- Тип топлива. Заменим пропуски на "unknown".
- Ремонт. Отсутствие пометки о ремонте автомобиля можно засчитать за его целость, т.е. "no".

Заменим пропущенные значения в 'vehicle_type'

In [6]:
data['VehicleType'] = data['VehicleType'].fillna(value = 'unknown')

Поставим ограничения по году регистрации (1900;2021)

In [7]:
data = data.query('(RegistrationYear >= 1900) and (RegistrationYear <= 2021)').reset_index(drop=True)

Заменим пропущенные значения в колонке "Gearbox" на 'unknown'

In [8]:
data['Gearbox'] = data['Gearbox'].fillna(value = 'unknown')

Ограничим мощность.<br>
Самый мощный автомобиль на данный момент: Aspark Owl. У него 2012 л.с. <br>
Это и будет наше ограничение.

In [9]:
data = data.query('Power < 2012')

Заполним пропуски в столбце "Model" значением "unknown".

In [10]:
data['Model'] = data['Model'].fillna(value = 'unknown')

Поступим также со столбцом "FuelType"

In [11]:
data['FuelType'] = data['FuelType'].fillna(value = 'unknown')

Поменяем пропуски на значение "no" (объяснение выше).

In [12]:
data['NotRepaired'] = data['NotRepaired'].fillna(value = 'no')

Проверим датасет на наличие пропусков.

In [13]:
data.isna().sum()

DateCrawled          0
Price                0
VehicleType          0
RegistrationYear     0
Gearbox              0
Power                0
Model                0
Kilometer            0
RegistrationMonth    0
FuelType             0
Brand                0
NotRepaired          0
DateCreated          0
NumberOfPictures     0
PostalCode           0
LastSeen             0
dtype: int64

Отлично!<br>
Однако, у нас есть признаки, которые маловероятно могут повлиять на предсказание цены автомобиля. Среди них: 
- DateCrawled, 
- RegistrationMonth,
- DateCreated,
- NumberOfPictures,
- PostalCode,
- LastSeen

Удалим их.

In [14]:
data = data.drop(['DateCrawled', 
                  'RegistrationMonth', 
                  'DateCreated',
                  'NumberOfPictures',
                  'PostalCode',
                  'LastSeen'], axis = 1)

**Теперь перейдем к подготовке данных для машинного обучения.**

Для обучения моделей необходимо преобразовать категориальные признаки в численные.<br>

Для столбцов с большим числом значений (Model, Brand) будем использовать технику порядкового кодирования, чтобы меньше воздействовать на размер выборки.<br>

Для столбцов с маленьким количеством значений (VehicleType, Gearbox, Fuel_Type, NotRepaired) будем использовать технику OHE.

Для удобства разделим признаки.

In [15]:
numeric = ['Price', 'RegistrationYear', 'Power', 'Kilometer']
ordinal = ['Model', 'Brand']
ohe = ['VehicleType', 'Gearbox', 'FuelType', 'NotRepaired']

Выполним порядковое кодирование.

In [16]:
encoder = OrdinalEncoder()
data_ordinal = pd.DataFrame(encoder.fit_transform(data.loc[:, ordinal]), columns = ordinal)

Выполним OHE.

In [17]:
data_OHE = pd.get_dummies(data.loc[:, ohe], drop_first = True)

Объединим датафреймы.

In [18]:
data_01 = data[numeric].join([data_ordinal, data_OHE])
data_01.dropna(subset = ['Model', 'Brand'], inplace = True) 
data_01.head(10)

,Price,RegistrationYear,Power,Kilometer,Model,Brand,VehicleType_convertible,VehicleType_coupe,VehicleType_other,VehicleType_sedan,...,Gearbox_manual,Gearbox_unknown,FuelType_electric,FuelType_gasoline,FuelType_hybrid,FuelType_lpg,FuelType_other,FuelType_petrol,FuelType_unknown,NotRepaired_yes
0,480.0,1993.0,0.0,150000.0,116.0,38.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,18300.0,2011.0,190.0,125000.0,228.0,1.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
2,9800.0,2004.0,163.0,125000.0,117.0,14.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1500.0,2001.0,75.0,150000.0,116.0,38.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,3600.0,2008.0,69.0,90000.0,101.0,31.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
5,650.0,1995.0,102.0,150000.0,11.0,2.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
6,2200.0,2004.0,109.0,150000.0,8.0,25.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
7,0.0,1980.0,50.0,40000.0,166.0,38.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
8,14500.0,2014.0,125.0,30000.0,60.0,10.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
9,999.0,1998.0,101.0,150000.0,116.0,38.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

Теперь разделим наши обработанные данные на обучающую и валидационную выборки.

In [19]:
features = data_01.drop('Price', axis=1)
target = data_01['Price']

features_train, features_valid, target_train, target_valid = train_test_split(features, target,  
                                            test_size=0.4, random_state=12345)

features_valid, features_test, target_valid, target_test = train_test_split(features_valid, target_valid,  
                                            test_size=0.5, random_state=12345)

display(features_train.shape)
display(features_valid.shape)
features_test.shape

(212379, 23)

(70793, 23)

(70794, 23)

Промасшатибруем количественные данные.

In [20]:
scaler = StandardScaler()
kol = ['RegistrationYear', 'Power', 'Kilometer']
scaler.fit(features_train[kol])
features_train[kol] = scaler.transform(features_train[kol])
features_valid[kol] = scaler.transform(features_valid[kol])
features_test[kol] = scaler.transform(features_test[kol])

features_train = features_train.dropna()
features_valid = features_valid.dropna()
features_test = features_test.dropna()

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:3498: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.loc._setitem_with_indexer((slice(None), indexer), value)
/opt/conda/lib/python3.7/site-packages/pandas/core/frame.py:3469: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_array(key, value)

Данные готовы. Можем приступать к обучению.

## Обучение моделей

Создадим scorer для оценки моделей.<br>
В нашем случае им будет выступать RMSE (root mean squared error)

In [21]:
def rmse(target, prediction):
    rmse =  (np.sum(prediction - target)**2 / len(prediction))**0.5
    return rmse

rmse_scorer = make_scorer(rmse, greater_is_better = False)

### Дерево решений

Обучим дерево решений при помощи GridSearchCV, подобрав лучшие гиперпараметры.

In [22]:
%%time

tree = {'max_depth': range(1, 12)}
model_tree = DecisionTreeRegressor(random_state = 12345)
grid_tree = GridSearchCV(model_tree, tree, cv = 5, scoring = rmse_scorer)
grid_tree.fit(features_train, target_train)
print('RMSE для дерева решений:', abs(grid_tree.best_score_))
print()
print(grid_tree.best_estimator_)

RMSE для дерева решений: 1925.806572859328

DecisionTreeRegressor(criterion='mse', max_depth=7, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=12345, splitter='best')
CPU times: user 24.9 s, sys: 35.9 ms, total: 24.9 s
Wall time: 25 s

Проверим валидационные данные с нашей оптимальной глубиной.

In [23]:
model_tree = DecisionTreeRegressor(random_state = 12345, max_depth = 11)
model_tree.fit(features_train, target_train)
prediction = model_tree.predict(features_valid)
print('RMSE для дерева решений:', rmse(target_valid, prediction))

RMSE для дерева решений: 1421.8323083851471

Метрика выдает приблизительно равные величины, это хорошо. Значит модель не переобучилась.<br>
Теперь предскажем целевой признак для тестового набора данных.

In [24]:
prediction = model_tree.predict(features_test)
print('RMSE для дерева решений:', rmse(target_test, prediction))

RMSE для дерева решений: 1164.736195003713

RMSE = 1164, нормально ли это при изначальных 1925 ? Видимо словили переобучение.

### Случайный лес

Случайный лес обучим прямым способом, посмотрев разные гиперпараметры глубины леса и количества деревьев. Иначе время обучения может затянуться надолго.

In [25]:
%%time

def m_forest(max_depth, estimat):
    model_forest = RandomForestRegressor(random_state = 12345, max_depth = max_depth, n_estimators = estimat)
    model_forest.fit(features_train, target_train)
    prediction = model_forest.predict(features_valid)
    rmse = mean_squared_error(target_valid, prediction)**0.5
    print('Глубина:', max_depth, ', Количество деревьев:', estimat, ", RMSE:", rmse)
    print()
    
m_forest(10, 10)
m_forest(10, 12)
m_forest(10, 15)
m_forest(15, 10)
m_forest(15, 12)
m_forest(15, 15)

m_forest(15, 17)
m_forest(15, 20)
m_forest(15, 25)
m_forest(15, 40)
m_forest(15, 45)

Глубина: 10 , Количество деревьев: 10 , RMSE: 2118.9070494426355

Глубина: 10 , Количество деревьев: 12 , RMSE: 2116.238602262925

Глубина: 10 , Количество деревьев: 15 , RMSE: 2114.512722409185

Глубина: 15 , Количество деревьев: 10 , RMSE: 2022.6377596524885

Глубина: 15 , Количество деревьев: 12 , RMSE: 2018.2219089258085

Глубина: 15 , Количество деревьев: 15 , RMSE: 2013.652445619778

Глубина: 15 , Количество деревьев: 17 , RMSE: 2009.4733598022917

Глубина: 15 , Количество деревьев: 20 , RMSE: 2006.863457488394

Глубина: 15 , Количество деревьев: 25 , RMSE: 2002.3303440759005

Глубина: 15 , Количество деревьев: 40 , RMSE: 1998.3384467980463

Глубина: 15 , Количество деревьев: 45 , RMSE: 1997.436863506363

CPU times: user 2min 49s, sys: 115 ms, total: 2min 49s
Wall time: 2min 49s

Все же попробуем перебрать несколько деревьев через цикл с глубиной и количеством.

In [26]:
%%time

best_est = 0
best_depth = 0
best_model = None
best_rmse = 10000
for est in range(10, 40, 5):
    for depth in range(1, 5):
        model_forest = RandomForestRegressor(random_state = 12345, max_depth = depth, n_estimators = est)
        model_forest.fit(features_train, target_train)
        prediction = model_forest.predict(features_valid)
        rmse = mean_squared_error(target_valid, prediction)**0.5
        if rmse < best_rmse:
            best_rmse = rmse
            best_model = model_forest
            best_est = est
            best_depth = depth
            
print('Глубина:', best_depth, ', Количество деревьев:', best_est, ", RMSE:", best_rmse)

Глубина: 4 , Количество деревьев: 15 , RMSE: 2639.1518524194557
CPU times: user 1min 26s, sys: 47.7 ms, total: 1min 26s
Wall time: 1min 27s

Как видим, прогноз лучше удался при случайно выбранных гиперпараметрах (одним выводом выше ).<br>
Спрогнозируем значения для тестовых данных (при лучших значениях глубины и количества).

In [27]:
model_forest = RandomForestRegressor(random_state = 12345, max_depth = 15, n_estimators = 45)
model_forest.fit(features_train, target_train)
prediction = model_forest.predict(features_test)
rmse = mean_squared_error(target_test, prediction)**0.5
print('RMSE для случайного леса:', rmse)

RMSE для случайного леса: 2005.7521742982412

RMSE у случайного леса = 2006 на тестовых данных.

### Линейная регрессия

В линейной регрессии попробуем кросс-валидацию с применением нашего scorer.

In [28]:
%%time

model_linear = LinearRegression()
cross_linear = cross_val_score(model_linear, features_train, target_train, cv = 5, scoring = rmse_scorer)
mean_rmse = abs(cross_linear).mean()
print('RMSE:', mean_rmse)
print()

RMSE: 3367.3170281781495

CPU times: user 1.59 s, sys: 1.13 s, total: 2.72 s
Wall time: 2.68 s

Проверим на валидационной выборке.

In [36]:
%%time

model_linear.fit(features_train, target_train)
prediction = model_linear.predict(features_valid)
rmse = mean_squared_error(target_valid, prediction)**0.5
print('RMSE для валидационной выборки на линейной регрессии:', rmse)
print()

RMSE для валидационной выборки на линейной регрессии: 3123.1756795667807

CPU times: user 355 ms, sys: 108 ms, total: 463 ms
Wall time: 419 ms

Результаты не вдохновляют.. Возможно ли доработать ?

Спрогнозируем значения для тестовой выборки и найдем ошибку.

In [30]:
%%time

prediction_test = model_linear.predict(features_test)
rmse = mean_squared_error(target_test, prediction_test)**0.5
print('RMSE для валидационной выборки на линейной регрессии:', rmse)
print()

RMSE для валидационной выборки на линейной регрессии: 3142.093224904493

CPU times: user 23.5 ms, sys: 162 µs, total: 23.6 ms
Wall time: 5.9 ms

### LightGBM

Посмотрим на работу LightGBM

In [31]:
%%time

model_lgb = LGBMRegressor(max_depth = 10, n_estimators = 90, num_leaves = 20)
model_lgb.fit(features_train, target_train, feature_name = 'auto', categorical_feature = 'auto', verbose = 10)
prediction = model_lgb.predict(features_valid)
rmse = mean_squared_error(target_valid, prediction)**0.5
print('RMSE на LightGBM:', rmse)

RMSE на LightGBM: 2053.4207042000976
CPU times: user 1min 11s, sys: 432 ms, total: 1min 11s
Wall time: 1min 12s

Теперь применим GridSearchCV для построения модели градиентного бустинга.

In [32]:
%%time

model_lgb_01 = LGBMRegressor()
param = {'n_estimators': [10,50,100],
        'num_leaves': [10,20,30]}

grid_gbm = GridSearchCV(model_lgb_01, param, cv=3, scoring = rmse_scorer, verbose = 5)
grid_gbm.fit(features_train, target_train)
rmse = abs(grid_gbm.best_score_)
print('RMSE у LGBMRegressor:', rmse)

Fitting 3 folds for each of 9 candidates, totalling 27 fits
[CV] n_estimators=10, num_leaves=10 ..................................

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV] .. n_estimators=10, num_leaves=10, score=-2253.876, total=   1.7s
[CV] n_estimators=10, num_leaves=10 ..................................

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    1.8s remaining:    0.0s

[CV] .. n_estimators=10, num_leaves=10, score=-1285.809, total=   2.4s
[CV] n_estimators=10, num_leaves=10 ..................................

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    4.2s remaining:    0.0s

[CV] .. n_estimators=10, num_leaves=10, score=-4098.015, total=   2.3s
[CV] n_estimators=10, num_leaves=20 ..................................

[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    6.5s remaining:    0.0s

[CV] .. n_estimators=10, num_leaves=20, score=-2258.406, total=  22.8s
[CV] n_estimators=10, num_leaves=20 ..................................

[Parallel(n_jobs=1)]: Done   4 out of   4 | elapsed:   29.3s remaining:    0.0s

[CV] .. n_estimators=10, num_leaves=20, score=-1642.907, total=  10.0s
[CV] n_estimators=10, num_leaves=20 ..................................
[CV] .. n_estimators=10, num_leaves=20, score=-3710.464, total=   6.8s
[CV] n_estimators=10, num_leaves=30 ..................................
[CV] .. n_estimators=10, num_leaves=30, score=-1691.018, total=   9.7s
[CV] n_estimators=10, num_leaves=30 ..................................
[CV] .. n_estimators=10, num_leaves=30, score=-1693.387, total=  10.9s
[CV] n_estimators=10, num_leaves=30 ..................................
[CV] .. n_estimators=10, num_leaves=30, score=-3649.225, total=   2.1s
[CV] n_estimators=50, num_leaves=10 ..................................
[CV] ... n_estimators=50, num_leaves=10, score=-489.645, total=  18.6s
[CV] n_estimators=50, num_leaves=10 ..................................
[CV] .. n_estimators=50, num_leaves=10, score=-2398.495, total=  15.6s
[CV] n_estimators=50, num_leaves=10 ..................................
[CV] .. n_estimators=50, num_leaves=10, score=-3059.003, total=  15.2s
[CV] n_estimators=50, num_leaves=20 ..................................
[CV] ... n_estimators=50, num_leaves=20, score=-518.417, total=   3.5s
[CV] n_estimators=50, num_leaves=20 ..................................
[CV] .. n_estimators=50, num_leaves=20, score=-2300.784, total=   4.7s
[CV] n_estimators=50, num_leaves=20 ..................................
[CV] .. n_estimators=50, num_leaves=20, score=-2535.763, total=   9.3s
[CV] n_estimators=50, num_leaves=30 ..................................
[CV] ... n_estimators=50, num_leaves=30, score=-260.118, total=   3.9s
[CV] n_estimators=50, num_leaves=30 ..................................
[CV] .. n_estimators=50, num_leaves=30, score=-2848.916, total=   6.2s
[CV] n_estimators=50, num_leaves=30 ..................................
[CV] .. n_estimators=50, num_leaves=30, score=-2885.041, total=   5.0s
[CV] n_estimators=100, num_leaves=10 .................................
[CV] .. n_estimators=100, num_leaves=10, score=-382.343, total=   6.7s
[CV] n_estimators=100, num_leaves=10 .................................
[CV] . n_estimators=100, num_leaves=10, score=-2450.857, total=   5.2s
[CV] n_estimators=100, num_leaves=10 .................................
[CV] . n_estimators=100, num_leaves=10, score=-2770.416, total=   4.5s
[CV] n_estimators=100, num_leaves=20 .................................
[CV] .. n_estimators=100, num_leaves=20, score=-393.856, total=   6.7s
[CV] n_estimators=100, num_leaves=20 .................................
[CV] . n_estimators=100, num_leaves=20, score=-2470.115, total=   7.3s
[CV] n_estimators=100, num_leaves=20 .................................
[CV] . n_estimators=100, num_leaves=20, score=-2530.722, total=   5.9s
[CV] n_estimators=100, num_leaves=30 .................................
[CV] .. n_estimators=100, num_leaves=30, score=-539.071, total=   6.5s
[CV] n_estimators=100, num_leaves=30 .................................
[CV] . n_estimators=100, num_leaves=30, score=-2986.220, total=   7.4s
[CV] n_estimators=100, num_leaves=30 .................................
[CV] . n_estimators=100, num_leaves=30, score=-2795.175, total=   8.4s

[Parallel(n_jobs=1)]: Done  27 out of  27 | elapsed:  3.5min finished

RMSE у LGBMRegressor: 1784.98820871295
CPU times: user 3min 30s, sys: 2.09 s, total: 3min 32s
Wall time: 3min 34s

Довольно неплохой показатель за такое время работы..

Проверим валидационные данные.

In [33]:
prediction = grid_gbm.predict(features_valid)
rmse = mean_squared_error(target_valid, prediction)**0.5
print('RMSE у LGBMRegressor:', rmse)

RMSE у LGBMRegressor: 2102.1757900570306

Отработаем на тестовых.

In [34]:
prediction = grid_gbm.predict(features_test)
rmse = mean_squared_error(target_test, prediction)**0.5
print('RMSE у LGBMRegressor:', rmse)

RMSE у LGBMRegressor: 2115.5811146200467

## Анализ моделей

Показатели времени обучения и качества предсказания представлены выше (уже в обучении моделей).

По ним можно сказать, что самая оптимальная по времени, и с самой лучшей точностью является модель случайного леса. Подавал надежды  LGBMRegressor, однако справился с задачей хуже + время обучения выше.<br>
Средняя цена машины:

In [35]:
data_01['Price'].mean()

4418.093376199974

Но даже при такой средней цене машины, отклонение в 2 тыс. евро - слишком много.. Это около 45% от средней стоимости!!!<br>
Результат нельзя считать позитивным.